src/main/resources/collection.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="LOCATION">
        <xs:complexType>

            <xs:attribute type="xs:string" name="DIR" use="optional"/>
            <xs:attribute type="xs:string" name="FILE" use="optional"/>
            <xs:attribute type="xs:string" name="VOLUME" use="optional"/>
            <xs:attribute type="xs:string" name="VOLUMEID" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="ALBUM">
        <xs:complexType>

            <xs:attribute type="xs:string" name="TITLE" use="optional"/>
            <xs:attribute type="xs:short" name="TRACK" use="optional"/>
            <xs:attribute type="xs:byte" name="OF_TRACKS" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="MODIFICATION_INFO">
        <xs:complexType>
            <xs:attribute type="xs:string" name="AUTHOR_TYPE" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="INFO">
        <xs:complexType>
            <xs:attribute type="xs:int" name="BITRATE" use="optional"/>
            <xs:attribute type="xs:string" name="GENRE" use="optional"/>
            <xs:attribute type="xs:string" name="KEY" use="optional"/>
            <xs:attribute type="xs:short" name="PLAYCOUNT" use="optional"/>
            <xs:attribute type="xs:short" name="PLAYTIME" use="optional"/>
            <xs:attribute type="xs:float" name="PLAYTIME_FLOAT" use="optional"/>
            <xs:attribute type="xs:string" name="IMPORT_DATE" use="optional"/>
            <xs:attribute type="xs:string" name="LAST_PLAYED" use="optional"/>
            <xs:attribute type="xs:byte" name="FLAGS" use="optional"/>
            <xs:attribute type="xs:int" name="FILESIZE" use="optional"/>
            <xs:attribute type="xs:short" name="RANKING" use="optional"/>
            <xs:attribute type="xs:string" name="LABEL" use="optional"/>
            <xs:attribute type="xs:string" name="COVERARTID" use="optional"/>
            <xs:attribute type="xs:string" name="RELEASE_DATE" use="optional"/>
            <xs:attribute type="xs:string" name="COMMENT" use="optional"/>
            <xs:attribute type="xs:string" name="REMIXER" use="optional"/>
            <xs:attribute type="xs:string" name="KEY_LYRICS" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="TEMPO">
        <xs:complexType>
            <xs:attribute type="xs:float" name="BPM" use="optional"/>
            <xs:attribute type="xs:byte" name="BPM_QUALITY" use="optional"/>
            <xs:attribute type="xs:float" name="BPM_TRANSIENTCOHERENCE" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="LOUDNESS">
        <xs:complexType>
            <xs:attribute type="xs:float" name="PERCEIVED_DB" use="optional"/>
            <xs:attribute type="xs:float" name="PEAK_DB" use="optional"/>
            <xs:attribute type="xs:float" name="ANALYZED_DB" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="MUSICAL_KEY">
        <xs:complexType>
            <xs:attribute type="xs:string" name="VALUE"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CUE_V2">
        <xs:complexType>

            <xs:attribute type="xs:string" name="NAME" use="optional"/>
            <xs:attribute type="xs:byte" name="DISPL_ORDER" use="optional"/>
            <xs:attribute type="xs:byte" name="TYPE" use="optional"/>
            <xs:attribute type="xs:float" name="START" use="optional"/>
            <xs:attribute type="xs:float" name="LEN" use="optional"/>
            <xs:attribute type="xs:byte" name="REPEATS" use="optional"/>
            <xs:attribute type="xs:byte" name="HOTCUE" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="LOOPINFO">
        <xs:complexType>

            <xs:attribute type="xs:string" name="ORIGINAL_TITLE" use="optional"/>
            <xs:attribute type="xs:string" name="ORIGINAL_TRACKID" use="optional"/>
            <xs:attribute type="xs:float" name="ORIGINAL_LOOP_SIZE" use="optional"/>
            <xs:attribute type="xs:byte" name="ORIGINAL_LOOP_START" use="optional"/>
            <xs:attribute type="xs:byte" name="SAMPLE_TYPE_INFO" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="ENTRY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOCATION" minOccurs="0"/>
                <xs:element ref="ALBUM" minOccurs="0"/>
                <xs:element ref="MODIFICATION_INFO" minOccurs="0"/>
                <xs:element ref="INFO" minOccurs="0"/>
                <xs:element ref="TEMPO" minOccurs="0"/>
                <xs:element ref="LOUDNESS" minOccurs="0"/>
                <xs:element ref="MUSICAL_KEY" minOccurs="0"/>
                <xs:element ref="LOOPINFO" minOccurs="0"/>
                <xs:element ref="CUE_V2" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="PRIMARYKEY" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="MODIFIED_DATE" use="optional"/>
            <xs:attribute type="xs:int" name="MODIFIED_TIME" use="optional"/>
            <xs:attribute type="xs:string" name="AUDIO_ID" use="optional"/>
            <xs:attribute type="xs:string" name="TITLE" use="optional"/>
            <xs:attribute type="xs:string" name="ARTIST" use="optional"/>
            <xs:attribute type="xs:byte" name="LOCK" use="optional"/>
            <xs:attribute type="xs:dateTime" name="LOCK_MODIFICATION_TIME" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CELL">
        <xs:complexType>
            <xs:attribute type="xs:byte" name="INDEX" use="optional"/>
            <xs:attribute type="xs:string" name="CELLNAME" use="optional"/>
            <xs:attribute type="xs:byte" name="COLOR" use="optional"/>
            <xs:attribute type="xs:byte" name="SYNC" use="optional"/>
            <xs:attribute type="xs:byte" name="REVERSE" use="optional"/>
            <xs:attribute type="xs:byte" name="MODE" use="optional"/>
            <xs:attribute type="xs:byte" name="TYPE" use="optional"/>
            <xs:attribute type="xs:byte" name="SPEED" use="optional"/>
            <xs:attribute type="xs:float" name="TRANSPOSE" use="optional"/>
            <xs:attribute type="xs:byte" name="OFFSET" use="optional"/>
            <xs:attribute type="xs:byte" name="NUDGE" use="optional"/>
            <xs:attribute type="xs:float" name="GAIN" use="optional"/>
            <xs:attribute type="xs:byte" name="START_MARKER" use="optional"/>
            <xs:attribute type="xs:float" name="END_MARKER" use="optional"/>
            <xs:attribute type="xs:float" name="BPM" use="optional"/>
            <xs:attribute type="xs:string" name="DIR" use="optional"/>
            <xs:attribute type="xs:string" name="FILE" use="optional"/>
            <xs:attribute type="xs:string" name="VOLUME" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="SLOT">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="CELL" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="KEYLOCK" use="optional"/>
            <xs:attribute type="xs:byte" name="FXENABLE" use="optional"/>
            <xs:attribute type="xs:byte" name="PUNCHMODE" use="optional"/>
            <xs:attribute type="xs:byte" name="ACTIVE_CELL_INDEX" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SET">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOCATION"/>
                <xs:element ref="MODIFICATION_INFO"/>
                <xs:element ref="INFO"/>
                <xs:element ref="TEMPO"/>
                <xs:element ref="SLOT" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="TITLE" use="optional"/>
            <xs:attribute type="xs:byte" name="QUANT_VAlUE" use="optional"/>
            <xs:attribute type="xs:byte" name="QUANT_STATE" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PRIMARYKEY">
        <xs:complexType>
            <xs:attribute type="xs:string" name="TYPE" use="optional"/>
            <xs:attribute type="xs:string" name="KEY" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PLAYLIST">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ENTRY" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="ENTRIES" use="optional"/>
            <xs:attribute type="xs:string" name="TYPE" use="optional"/>
            <xs:attribute type="xs:string" name="UUID" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NODE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PLAYLIST" minOccurs="0"/>
                <xs:element ref="SUBNODES" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="TYPE" use="optional"/>
            <xs:attribute type="xs:string" name="NAME" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SUBNODES">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NODE" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="COUNT"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SORTING_DATA">
        <xs:complexType>
            <xs:attribute type="xs:byte" name="IDX" use="optional"/>
            <xs:attribute type="xs:byte" name="ORD" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="HEAD">
        <xs:complexType>
            <xs:attribute type="xs:anyURI" name="COMPANY"/>
            <xs:attribute type="xs:string" name="PROGRAM"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="MUSICFOLDERS" type="xs:string"/>
    <xs:element name="COLLECTION">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ENTRY" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="ENTRIES"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SETS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SET" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="ENTRIES"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PLAYLISTS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NODE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SORTING_ORDER">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SORTING_DATA" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="PATH" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NML">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HEAD"/>
                <xs:element ref="MUSICFOLDERS"/>
                <xs:element ref="COLLECTION"/>
                <xs:element ref="SETS"/>
                <xs:element ref="PLAYLISTS"/>
                <xs:element ref="SORTING_ORDER" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="VERSION"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
