src/main/resources/collection.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="LOCATION">
        <xs:complexType>

            <xs:attribute type="xs:string" name="DIR" use="optional"/>
            <xs:attribute type="xs:string" name="FILE" use="optional"/>
            <xs:attribute type="xs:string" name="VOLUME" use="optional"/>
            <xs:attribute type="xs:string" name="VOLUMEID" use="optional"/>

        </xs:complexType>
    </xs:element>
    <xs:element name="MODIFICATION_INFO">
        <xs:complexType>
            <xs:attribute type="xs:string" name="AUTHOR_TYPE" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INFO">
        <xs:complexType>
            <xs:attribute type="xs:int" name="BITRATE" use="optional"/>
            <xs:attribute type="xs:string" name="GENRE" use="optional"/>
            <xs:attribute type="xs:string" name="COMMENT" use="optional"/>
            <xs:attribute type="xs:string" name="COVERARTID" use="optional"/>
            <xs:attribute type="xs:int" name="PLAYTIME" use="optional"/>
            <xs:attribute type="xs:double" name="PLAYTIME_FLOAT" use="optional"/>
            <xs:attribute type="xs:string" name="IMPORT_DATE" use="optional"/>
            <xs:attribute type="xs:string" name="RELEASE_DATE" use="optional"/>
            <xs:attribute type="xs:int" name="FLAGS" use="optional"/>
            <xs:attribute type="xs:int" name="FILESIZE" use="optional"/>
            <xs:attribute type="xs:string" name="LABEL" use="optional"/>
            <xs:attribute type="xs:string" name="KEY" use="optional"/>
            <xs:attribute type="xs:string" name="LAST_PLAYED" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TEMPO">
        <xs:complexType>
            <xs:attribute type="xs:double" name="BPM" use="optional"/>
            <xs:attribute type="xs:int" name="BPM_QUALITY" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="LOUDNESS">
        <xs:complexType>
            <xs:attribute type="xs:double" name="PEAK_DB" use="optional"/>
            <xs:attribute type="xs:double" name="PERCEIVED_DB" use="optional"/>
            <xs:attribute type="xs:double" name="ANALYZED_DB" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CUE_V2">
        <xs:complexType>
            <xs:attribute type="xs:string" name="NAME" use="optional"/>
            <xs:attribute type="xs:int" name="DISPL_ORDER" use="optional"/>
            <xs:attribute type="xs:int" name="TYPE" use="optional"/>
            <xs:attribute type="xs:double" name="START" use="optional"/>
            <xs:attribute type="xs:double" name="LEN" use="optional"/>
            <xs:attribute type="xs:int" name="REPEATS" use="optional"/>
            <xs:attribute type="xs:int" name="HOTCUE" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MUSICAL_KEY">
        <xs:complexType>
            <xs:attribute type="xs:int" name="VALUE"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ALBUM">
        <xs:complexType>
            <xs:attribute type="xs:int" name="TRACK"/>
            <xs:attribute type="xs:string" name="TITLE"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENTRY">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="LOCATION"/>
                <xs:element ref="MODIFICATION_INFO"/>
                <xs:element ref="INFO"/>
                <xs:element ref="TEMPO"/>
                <xs:element ref="LOUDNESS"/>
                <xs:element ref="CUE_V2"/>
                <xs:element ref="MUSICAL_KEY"/>
                <xs:element ref="ALBUM"/>
                <xs:element ref="PRIMARYKEY"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="MODIFIED_DATE" use="optional"/>
            <xs:attribute type="xs:int" name="MODIFIED_TIME" use="optional"/>
            <xs:attribute type="xs:int" name="LOCK" use="optional"/>
            <xs:attribute type="xs:dateTime" name="LOCK_MODIFICATION_TIME" use="optional"/>
            <xs:attribute type="xs:string" name="AUDIO_ID" use="optional"/>
            <xs:attribute type="xs:string" name="TITLE" use="optional"/>
            <xs:attribute type="xs:string" name="ARTIST" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CELL">
        <xs:complexType>
            <xs:attribute type="xs:int" name="INDEX" use="optional"/>
            <xs:attribute type="xs:string" name="CELLNAME" use="optional"/>
            <xs:attribute type="xs:int" name="COLOR" use="optional"/>
            <xs:attribute type="xs:int" name="SYNC" use="optional"/>
            <xs:attribute type="xs:int" name="REVERSE" use="optional"/>
            <xs:attribute type="xs:int" name="MODE" use="optional"/>
            <xs:attribute type="xs:int" name="TYPE" use="optional"/>
            <xs:attribute type="xs:int" name="SPEED" use="optional"/>
            <xs:attribute type="xs:double" name="TRANSPOSE" use="optional"/>
            <xs:attribute type="xs:double" name="OFFSET" use="optional"/>
            <xs:attribute type="xs:int" name="NUDGE" use="optional"/>
            <xs:attribute type="xs:double" name="GAIN" use="optional"/>
            <xs:attribute type="xs:int" name="START_MARKER" use="optional"/>
            <xs:attribute type="xs:int" name="END_MARKER" use="optional"/>
            <xs:attribute type="xs:double" name="BPM" use="optional"/>
            <xs:attribute type="xs:string" name="DIR" use="optional"/>
            <xs:attribute type="xs:string" name="FILE" use="optional"/>
            <xs:attribute type="xs:string" name="VOLUME" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SLOT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CELL" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="KEYLOCK" use="optional"/>
            <xs:attribute type="xs:int" name="FXENABLE" use="optional"/>
            <xs:attribute type="xs:int" name="PUNCHMODE" use="optional"/>
            <xs:attribute type="xs:int" name="ACTIVE_CELL_INDEX" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SET">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOCATION"/>
                <xs:element ref="MODIFICATION_INFO"/>
                <xs:element ref="INFO"/>
                <xs:element ref="TEMPO"/>
                <xs:element ref="SLOT" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="TITLE" use="optional"/>
            <xs:attribute type="xs:string" name="ARTIST" use="optional"/>
            <xs:attribute type="xs:int" name="QUANT_VAlUE" use="optional"/>
            <xs:attribute type="xs:int" name="QUANT_STATE" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PRIMARYKEY">
        <xs:complexType>
            <xs:attribute type="xs:string" name="TYPE" use="optional"/>
            <xs:attribute type="xs:string" name="KEY" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PLAYLIST">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ENTRY" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="ENTRIES" use="optional"/>
            <xs:attribute type="xs:string" name="TYPE" use="optional"/>
            <xs:attribute type="xs:string" name="UUID" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NODE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PLAYLIST" minOccurs="0"/>
                <xs:element ref="SUBNODES" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="TYPE" use="optional"/>
            <xs:attribute type="xs:string" name="NAME" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SUBNODES">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NODE" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="COUNT"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="HEAD">
        <xs:complexType>
            <xs:attribute type="xs:anyURI" name="COMPANY"/>
            <xs:attribute type="xs:string" name="PROGRAM"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MUSICFOLDERS" type="xs:string"/>
    <xs:element name="COLLECTION">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ENTRY" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="ENTRIES"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SETS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SET" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="ENTRIES"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PLAYLISTS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NODE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NML">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HEAD"/>
                <xs:element ref="MUSICFOLDERS"/>
                <xs:element ref="COLLECTION"/>
                <xs:element ref="SETS"/>
                <xs:element ref="PLAYLISTS"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="VERSION"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
